use master
go
create database exemple1
go
use exemple1
go

CREATE TABLE dept (
	nodept nvarchar(50) NOT NULL PRIMARY KEY,
	nom nvarchar(50) NOT NULL,
	noregion nvarchar(50) NOT NULL,
)
GO
CREATE TABLE employe(
	noemp int NOT NULL PRIMARY KEY,
	nom nvarchar(50) NOT NULL,
	prenom nvarchar(50) NOT NULL,
	dateemb datetime NOT NULL,
	nosup nvarchar(50) NULL,
	titre nvarchar(50) NOT NULL,
	nodep nvarchar(50) NOT NULL REFERENCES dept(nodept),
	salaire decimal(18, 0) NOT NULL,
	tauxcom decimal(18, 0) NULL,
)
GO



INSERT INTO  dept  ( nodept ,  nom ,  noregion ) VALUES (N'10', N'finance', N'1')
INSERT INTO  dept  ( nodept ,  nom ,  noregion ) VALUES (N'20', N'atelier', N'2')
INSERT INTO  dept  ( nodept ,  nom ,  noregion ) VALUES (N'30', N'atelier', N'3')
GO

INSERT INTO  employe  ( noemp ,  nom ,  prenom ,  dateemb ,  nosup ,  titre ,  nodep ,  salaire ,  tauxcom ) VALUES (1, N'patamob', N'adhémar', '20000326', NULL, N'président', N'50', 50000, NULL)
INSERT INTO  employe  ( noemp ,  nom ,  prenom ,  dateemb ,  nosup ,  titre ,  nodep ,  salaire ,  tauxcom ) VALUES (2, N'zeublouse', N'agathe', '20000415', N'1', N'dir.distrib', N'41', 35000, NULL)
INSERT INTO  employe  ( noemp ,  nom ,  prenom ,  dateemb ,  nosup ,  titre ,  nodep ,  salaire ,  tauxcom ) VALUES (3, N'kuzbidon', N'alex', '20000505', N'1', N'dir.vente', N'31', 34000, NULL)
GO


-- N°1
Select * from employe

-- N°2
Select * from dept

-- N°3
SELECT nom AS Employe FROM employe

-- N°4
SELECT nom AS "Nom de l'employé" FROM employe

-- N°5
SELECT titre from employe

-- N°6
SELECT DISTINCT titre FROM employe

-- N°7
SELECT noemp,nom,nodep FROM employe 
	WHERE titre = 'Secretaire'

-- N°8
SELECT nom,nodep FROM employe
	WHERE nodep > 40

-- N°9
SELECT nom,prenom FROM employe
	WHERE nom < prenom

-- N°10
SELECT nom,salaire,nodep FROM employe
	WHERE titre = 'representant' and nodep = 35 and salaire > 20000 

-- N°11
SELECT nom,titre,salaire FROM employe
	WHERE titre = 'representant' or titre = 'président'

-- N°12
SELECT nom, titre, nodep, salaire FROM employe
	WHERE  titre = 'representant' or titre ='secretaire' and nodep = 34

-- N°13
SELECT nom,salaire FROM employe
	WHERE salaire between 20000 and 30000

-- N°14
SELECT nom,titre,nodep FROM employe
	WHERE titre IN ('representant','secretaire')

-- N°15
SELECT nom FROM employe
	WHERE nom like 'h%'

-- N°16
SELECT nom FROM employe
	WHERE nom like '%n'

-- N°17
SELECT nom FROM employe
	WHERE nom like '__u%'

-- N°18
SELECT salaire,nom FROM employe
	WHERE nodep = 41 ORDER BY salaire ASC

-- N°19
SELECT salaire,nom FROM employe
	WHERE nodep = 41 ORDER BY salaire DESC

-- N°20
SELECT titre,salaire,nom FROM employe
	 ORDER BY titre ASC,Salaire DESC

-- N°21
SELECT tauxcom,salaire,nom FROM employe
	ORDER BY tauxcom ASC

-- N°22
SELECT tauxcom,salaire,nom,titre FROM employe
	WHERE tauxcom is null 

-- N°23
SELECT tauxcom,salaire,nom FROM employe
	WHERE tauxcom is not null

-- N°24
SELECT tauxcom,salaire,nom FROM employe
	WHERE tauxcom < 15

-- N°25
SELECT tauxcom,salaire,nom FROM employe
	WHERE tauxcom > 15

-- N°26
SELECT tauxcom,salaire,nom,(salaire * tauxcom /100) as commission FROM employe
	WHERE tauxcom is not null
	
-- N°27
SELECT tauxcom,salaire,nom,(salaire * tauxcom /100) as commission FROM employe
	WHERE tauxcom is not null ORDER BY tauxcom ASC

-- N°28
SELECT nom +' '+ prenom as nomprenom FROM employe

-- N°29
SELECT SUBSTRING (nom,1,5) from employe
	
-- N°30
SELECT nom, charindex('r', nom) AS position from employe
    WHERE nom like '__%r%'

-- N°31
SELECT UPPER (nom) NOM, LOWER (nom) nom from employe
	WHERE nom = 'Vrante'

-- N°32
SELECT nom, LEN (nom) nombrecaractere from employe


-- JOINTURE

-- N°1
SELECT prenom,noregion
FROM employe,dept 
WHERE nodep = nodept		

-- N°2
SELECT nodep,employe.nom as 'nom employe',dept.nom as 'nom departement'
From employe,dept
WHERE nodep = nodept
ORDER BY nodep

-- N°3
SELECT employe.nom,dept.nom
FROM employe,dept
WHERE employe.nom = 'Amartakaldire'

-- N°4
SELECT employe.nom
FROM employe INNER JOIN dept
ON nodep = nodept
WHERE dept.nom = 'distribution'

-- Réeécrire les requetes 1 et 2

SELECT prenom,noregion
FROM employe INNER JOIN dept
ON nodep = nodept
		
SELECT nodep,employe.nom as 'nom employe',dept.nom as 'nom departement'
From employe INNER JOIN dept
ON nodep = nodept
ORDER BY nodep

--  N°5
SELECT nom,salaire,titre
FROM employe
WHERE titre '








