USE [master]
GO
/****** Object:  Database [papyrus]    Script Date: 21/06/2016 12:24:02 ******/
CREATE DATABASE [papyrus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'papyrus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\papyrus.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'papyrus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\papyrus_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [papyrus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [papyrus]
GO
/****** Object:  Schema [stg02]    Script Date: 21/06/2016 12:24:02 ******/
CREATE SCHEMA [stg02]
GO
/****** Object:  Table [stg02].[ENTCOM]    Script Date: 21/06/2016 12:24:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg02].[ENTCOM](
	[NUMCOM] [int] IDENTITY(1,1) NOT NULL,
	[OBSCOM] [varchar](50) NULL,
	[DATCOM] [smalldatetime] NOT NULL,
	[NUMFOU] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMCOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [stg02].[FOURNIS]    Script Date: 21/06/2016 12:24:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg02].[FOURNIS](
	[NUMFOU] [tinyint] IDENTITY(1,1) NOT NULL,
	[NOMFOU] [varchar](30) NOT NULL,
	[RUEFOU] [varchar](30) NOT NULL,
	[POSFOU] [varchar](5) NOT NULL,
	[VILFOU] [varchar](25) NOT NULL,
	[CONFOU] [varchar](15) NOT NULL,
	[SATISF] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMFOU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [stg02].[LIGCOM]    Script Date: 21/06/2016 12:24:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg02].[LIGCOM](
	[NUMCOM] [int] NOT NULL,
	[CODART] [varchar](4) NULL,
	[NUMLIG] [tinyint] IDENTITY(1,1) NOT NULL,
	[QTECDE] [int] NULL,
	[PRIUNI] [smallmoney] NULL,
	[QTELIV] [int] NULL,
	[DERLIV] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMCOM] ASC,
	[NUMLIG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [stg02].[PRODUIT]    Script Date: 21/06/2016 12:24:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg02].[PRODUIT](
	[CODART] [varchar](4) NOT NULL,
	[LIBART] [varchar](25) NOT NULL,
	[STKALE] [smallint] NOT NULL,
	[STKPHY] [smallint] NOT NULL,
	[QTEANN] [smallint] NOT NULL,
	[UNIMES] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODART] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [stg02].[VENTE]    Script Date: 21/06/2016 12:24:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg02].[VENTE](
	[CODART] [varchar](4) NOT NULL,
	[NUMFOU] [tinyint] NOT NULL,
	[DELLIV] [smallint] NOT NULL,
	[QTE1] [smallint] NOT NULL,
	[PRIX1] [numeric](5, 2) NOT NULL,
	[QTE2] [smallint] NULL,
	[PRIX2] [numeric](5, 2) NULL,
	[QTE3] [smallint] NULL,
	[PRIX3] [numeric](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODART] ASC,
	[NUMFOU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [index1]    Script Date: 21/06/2016 12:24:02 ******/
CREATE NONCLUSTERED INDEX [index1] ON [stg02].[ENTCOM]
(
	[NUMFOU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [stg02].[ENTCOM]  WITH CHECK ADD FOREIGN KEY([NUMFOU])
REFERENCES [stg02].[FOURNIS] ([NUMFOU])
GO
ALTER TABLE [stg02].[LIGCOM]  WITH CHECK ADD FOREIGN KEY([CODART])
REFERENCES [stg02].[PRODUIT] ([CODART])
GO
ALTER TABLE [stg02].[LIGCOM]  WITH CHECK ADD FOREIGN KEY([NUMCOM])
REFERENCES [stg02].[ENTCOM] ([NUMCOM])
GO
ALTER TABLE [stg02].[VENTE]  WITH CHECK ADD FOREIGN KEY([CODART])
REFERENCES [stg02].[PRODUIT] ([CODART])
GO
ALTER TABLE [stg02].[VENTE]  WITH CHECK ADD FOREIGN KEY([NUMFOU])
REFERENCES [stg02].[FOURNIS] ([NUMFOU])
GO
ALTER TABLE [stg02].[FOURNIS]  WITH CHECK ADD CHECK  (([SATISF]>=(1) AND [SATISF]<=(10)))
GO
USE [master]
GO
