#div1{
	background-color: #0052cc;
	width: 500px;
	height: 53px;
	position: absolute;	
	top: 0;
	left: 0;
	border-size :1px;
	border-style: solid;
	border-color: #4db8ff;	
}

#catalogue{
	background-color: #e65c00;
	border:1;
	display: inline-block;
	text-align: center;
	padding: 15px 32px;
	position: absolute;
	border-size :1px;
	border-style: solid;
	border-color: black;	
}

#div2{
	width: 500px;	
	border-size :1px;
	border-style: solid;
	border-color: #4db8ff;
	background-color: #79d279;
	position: absolute;
	left: 0;
	top: 57px;
}
a:hover{
	background-color: #f2f2f2;
}